<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ManageLibrary</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestJDBCUtil</display-name>
    <servlet-name>TestJDBCUtil</servlet-name>
    <servlet-class>com.example.TestJDBCUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestJDBCUtil</servlet-name>
    <url-pattern>/TestJDBCUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSevlet</display-name>
    <servlet-name>UserSevlet</servlet-name>
    <servlet-class>com.example.UserSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSevlet</servlet-name>
    <url-pattern>/UserSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddbookServlet</display-name>
    <servlet-name>AddbookServlet</servlet-name>
    <servlet-class>com.example.AddbookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddbookServlet</servlet-name>
    <url-pattern>/AddbookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>seebookServlet</display-name>
    <servlet-name>seebookServlet</servlet-name>
    <servlet-class>com.example.seebookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seebookServlet</servlet-name>
    <url-pattern>/seebookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatebookServlet</display-name>
    <servlet-name>updatebookServlet</servlet-name>
    <servlet-class>com.example.updatebookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatebookServlet</servlet-name>
    <url-pattern>/updatebookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletebookServlet</display-name>
    <servlet-name>deletebookServlet</servlet-name>
    <servlet-class>com.example.deletebookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletebookServlet</servlet-name>
    <url-pattern>/deletebookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addinforsServlet</display-name>
    <servlet-name>addinforsServlet</servlet-name>
    <servlet-class>com.example.addinforsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addinforsServlet</servlet-name>
    <url-pattern>/addinforsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateinforsServlet</display-name>
    <servlet-name>updateinforsServlet</servlet-name>
    <servlet-class>com.example.updateinforsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateinforsServlet</servlet-name>
    <url-pattern>/updateinforsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteinforServlet</display-name>
    <servlet-name>deleteinforServlet</servlet-name>
    <servlet-class>com.example.deleteinforServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteinforServlet</servlet-name>
    <url-pattern>/deleteinforServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatestatusServlet</display-name>
    <servlet-name>updatestatusServlet</servlet-name>
    <servlet-class>com.example.updatestatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatestatusServlet</servlet-name>
    <url-pattern>/updatestatusServlet</url-pattern>
  </servlet-mapping>
</web-app>